//
// RESPONSIVE HIDE
//
// Example usage:
// <div class="u-hidden-from@tablet">
// <div class="u-hidden-until@tablet">
//

$breakpoint-separator: \@;

@each $bp-name, $bp-value in $mq-breakpoints {

    .u-hidden-from#{$breakpoint-separator}#{$bp-name}{
        @include mq($from: $bp-name) {
            display: none !important;
        }
    }

    .u-hidden-until#{$breakpoint-separator}#{$bp-name}{
        @include mq($until: $bp-name) {
            display: none !important;
        }
    }

}
