.u-hidden-sm {
  @include mq( $until: tablet ) {
    display: none !important;
  }
}

.u-hidden-md {
  @include mq( $from: tablet ) {
    display: none !important;
  }
}

.u-hidden-lg {
  @include mq( $from: desktop ) {
    display: none !important;
  }
}
