/// @group utility
/// @name .u-bg-{name}
/// @example  u-bg-base u-bg-base--yellow
/// Create a background colour
.u-bg {
  @each $color-key, $color-variants in $palettes {

    $base-color-value: map-get($color-variants, 'base');

    &-#{$color-key} {
      background-color: $base-color-value;
      $index: 0;

      @each $variant-name, $variant-value in $color-variants {
        &.u-bg-#{$color-key}--#{$variant-name} {
          background-color: $variant-value;
        }
      }
    }
  }
}



/// @group utility
/// @name .u-color-{name}
/// @example  u-color-base u-color-base--yellow
/// Create a text colour
.u-color {
  @each $color-key, $color-variants in $palettes {

    $base-color-value: map-get($color-variants, 'base');

    &-#{$color-key} {
      color: $base-color-value;
      $index: 0;

      @each $variant-name, $variant-value in $color-variants {
        &.u-color-#{$color-key}--#{$variant-name} {
          color: $variant-value;
        }
      }

    }
  }
}
