{% extends "templates/layouts/full-width.njk" %}
{% import 'templates/global/header/header.njk' as HEADER %}
{% import 'templates/global/footer/footer.njk' as FOOTER %}
{% import 'templates/macros/eventList/eventList.njk' as EVENTLIST %}


{% block header %}
  {{ HEADER.header(header.page1) }}
{% endblock %}


{% block content %}
  <main>
    <div class="[ o-wrapper ]">
      {{ EVENTLIST.eventList(eventList.page1) }}
    </div>
  </main>
{% endblock %}

{% block footer %}
  {{ FOOTER.footer(footer.page1) }}
{% endblock %}
