///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.


$inuit-wrapper-width: 920px;
$inuit-global-font-size-small:    16px !default;
$inuit-global-font-size-large:    20px !default;


$global-body-bg: palette('default','white');

$global-radius: 3px !default;
$global-transition: all 300ms ease-in-out !default;

$btn-transition: all .1s linear;
