{%- macro footer(data, styleModifier) -%}
  <footer class="[ c-footer {{ styleModifier }} ]">
    {% if data.pagination == true %}
      <div class="[ o-wrapper ]">
        <div class="[ c-footer__pagination ]">
          {{ data.pageNumber }}
        </div>
      </div>
    {% else %}
      <img class='[ c-footer__img ]' src='{{ data.footerImage | safe }}' alt='Footer Image'>
    {% endif %}
  </footer>
{%- endmacro -%}
