.c-events {
  margin-bottom: ($inuit-global-spacing-unit*5);

  &__list {
    @extend .o-list-bare;
  }

  &__list-item {
    padding: $inuit-global-spacing-unit 0;
    border-top: 2px solid palette('fill','primary');
    position: relative;
    opacity: 0;

    &:first-child {
      border-top: 0;
    }

    &--highlight {
      border-top: 0;
    }

    &--live {
      .c-events--blink-icon {
        position: absolute;
        z-index: map-get($zindex, primary);
        top: ($inuit-global-spacing-unit-tiny*7);
        left: -($inuit-global-spacing-unit-tiny*6);
      }
    }

    &--live-stage {
      .c-events--blink-icon {
        position: absolute;
        z-index: map-get($zindex, primary);
        top: 74px;
        left: -($inuit-global-spacing-unit-tiny*5);
      }
    }
  }

  @for $i from 1 to 10 {
    &__list li:nth-child(#{$i}) {
      animation-delay: $i * 0.25s;
    }
  }

  &__title {
    margin-bottom: $inuit-global-spacing-unit-tiny;
  }

  &__date {
    @include inuit-font-size(24px);
    letter-spacing: .6px;
    text-align: right;
    margin-bottom: 0;
    @include font-secondary();
  }

  &__host {
    color: palette('brand','tertiary');
  }
}
