.c-blink-icon {
  width: 17px;
  height: 17px;
  background: #FF6E6E;
  border-radius: 50%;
  display: inline-block;
  -webkit-animation: blink .7s alternate infinite;
  -moz-animation: blink .7s alternate infinite;
  -ms-animation: blink .7s alternate infinite;
}


@-webkit-keyframes blink {
  0% {
  opacity: 0.1;
  }
  100% {
  opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
  opacity: 0.1;
  }
  100% {
  opacity: 1;
  }
}

@-ms-keyframes blink {
  0% {
  opacity: 0.1;
  }
  100% {
  opacity: 1;
  }
}
