.c-header {
    padding: ($inuit-global-spacing-unit*3) 0 $inuit-global-spacing-unit-large;

  &__date {
    @extend .h3;
    margin-top: -($inuit-global-spacing-unit-tiny*3);
  }

  &__time {
    @include font-secondary();
    @include inuit-font-size(24px);
    letter-spacing: .6px;
  }

  &__logo {
    float: right;
    width: 84px;
    height: auto;
    max-width: 100%;
  }
}
