.c-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  &__pagination {
    @include inuit-font-size(42px);
    @include font-primary();
    text-align: right;
    position: relative;
    bottom: ($inuit-global-spacing-unit-tiny*5);
  }

  &__img {
    width: 100%;
    height: auto;
    z-index: map-get($zindex, negative);
  }
}
