{%- import 'templates/global/header/header.njk' as HEADER -%}


{% include 'templates/partials/head.njk' %}

	{%- block header -%}{% endblock -%}

	{% block content -%}{% endblock -%}

	{% block footer -%}{% endblock -%}

{% include 'templates/partials/foot.njk' %}
