{%- macro header(data, styleModifier, logoModifier) -%}
  <header class="[ c-header {{ styleModifier }} ]">
    <div class="[ o-wrapper ]">
      <div class="[ c-header__content ]">
        <div class="[ o-grid o-grid--between ]">
          <div class="[ o-grid__cell ][ u-9/12 ]">
            <h1 class="[ c-header__title ]">{{ data.title }}</h1>
          </div>
          <div class="[ o-grid__cell ][ u-3/12 ]">
            <img class="[ c-header__logo ]" src="../../images/cannes-logo.svg" alt="Cannes Logo">
          </div>
        </div>
        <div class="[ c-header__date ]">
          {{ data.date }}
          <span class="[ c-header__time ]">
            {{ data.time }}
          </span>
        </div>
      </div>
    </div>
  </header>
{%- endmacro -%}
