{% macro eventList(data, styleModifier, itemModifier, live) %}
<section class="[ c-events {{ styleModifier }} ]">
  <ul class="[ c-events__list ]">
    {% for text in data %}
      <li class="[ c-events__list-item {{ itemModifier }} {% if text.eventHighlight == true %}c-events__list-item--highlight{% endif %} {% if text.eventLive == true %}c-events__list-item--live{% endif %} {% if text.liveStage == true %}c-events__list-item--live-stage{% endif %} ][ a-slide-in-up ]">
        {% if text.eventsTitle %}
          {% if text.eventHighlight == true %}
            <h2 class="[ c-events__title ][ u-8/12 ]">{{ text.eventsTitle }}</h2>
          {% else %}
            <h3 class="[ c-events__title ][ u-8/12 ]">{{ text.eventsTitle }}</h3>
          {% endif %}
        {% endif %}

        <div class="[ o-layout ]">
          <div class="[ o-layout__item ][ u-8/12 ]">
              {% if text.subtitle %}
                <h4 class="[ c-events__subtitle ]">
                  {{ text.subtitle }}
                </h4>
              {% endif %}

              {% if text.eventLive == true or text.liveStage == true %}
                <i class="[ c-blink-icon c-events--blink-icon ]"></i>
              {% endif %}
          </div>
          <div class="[ o-layout__item ][ u-4/12 ]">
            <p class="[ c-events__date ]">
              {{ text.date }}
            </p>
          </div>
        </div>

        {% if text.eventsHost %}
          <h5 class="[ c-events__host ]">
            {{ text.eventsHost }}
          </h5>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</section>
{% endmacro %}
