/// New Breakpoints
///
/// Here you can add more breakpoints
/// For more info check node_modules/sass-mq/_mq.scss
//

$mq-breakpoints: (
    mobile:  576px,
    tablet:  768px,
    desktop: 992px,
    wide:    1200px
);


// Add the new breakpoint
// Use like this
// @include mq(mobile-large) { }
//@include mq-add-breakpoint(mobile-large, 500px);
