<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ header.headTitle }}</title>
  <link rel="stylesheet" href="../../styles/styles.css">

  <!-- Fonts -->
	<script src="https://use.typekit.net/ckv8vws.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>

  <body class="[ c-page ]">
