/**
 * Font Icons
 * @type {String}
 */

@font-face {
   font-family: 'handy';
   src: url('../fonts/handy.eot');
   src: url('../fonts/handy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/handy.woff') format('woff'),
        url('../fonts/handy.ttf') format('truetype'),
        url('../fonts/handy.svg#Handy') format('svg');
   font-weight: normal;
   font-style: normal;
}

@mixin icon() {
  display: inline-block;
  font-family: 'handy';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

[class*='icon-']:before{
	@include icon();
}
.icon-add-oval:before{content:'\0041';}
.icon-add:before{content:'\0042';}
.icon-arrow-bottom:before{content:'\0043';}
.icon-arrow-left-long:before{content:'\0044';}
.icon-arrow-left:before{content:'\0045';}
.icon-arrow-right:before{content:'\0046';}
.icon-arrow-small:before{content:'\0047';}
.icon-attention:before{content:'\0048';}
.icon-calendar:before{content:'\0049';}
.icon-cart:before{content:'\004a';}
.icon-check-in:before{content:'\004b';}
.icon-check-out:before{content:'\004c';}
.icon-checkbox:before{content:'\004d';}
.icon-clock:before{content:'\004e';}
.icon-close:before{content:'\004f';}
.icon-close-small:before{content:'\0050';}
.icon-oval:before{content:'\0051';}
.icon-delete:before{content:'\0052';}
.icon-more:before{content:'\0053';}
.icon-file:before{content:'\0054';}
.icon-filter:before{content:'\0055';}
.icon-gear:before{content:'\0056';}
.icon-glasses:before{content:'\0057';}
.icon-hamburger:before{content:'\0058';}
.icon-oval-stroke:before{content:'\0059';}
.icon-oval-dashed:before{content:'\005a';}
.icon-info:before{content:'\0061';}
.icon-link:before{content:'\0062';}
.icon-list:before{content:'\0063';}
.icon-mail:before{content:'\0064';}
.icon-move:before{content:'\0065';}
.icon-pdf:before{content:'\0066';}
.icon-pencil:before{content:'\0067';}
.icon-print:before{content:'\0068';}
.icon-question:before{content:'\0069';}
.icon-reorder:before{content:'\006a';}
.icon-remove-oval:before{content:'\006b';}
.icon-search:before{content:'\006c';}
.icon-share:before{content:'\006d';}
.icon-sub-menu:before{content:'\006e';}
.icon-tiles:before{content:'\006f';}
.icon-upgrade:before{content:'\0070';}
.icon-user:before{content:'\0071';}
.icon-award:before{content:'\0072';}
.icon-campus:before{content:'\0073';}
.icon-classroom:before{content:'\0074';}
.icon-dark:before{content:'\0076';}
.icon-discovery:before{content:'\0077';}
.icon-group:before{content:'\0078';}
.icon-mentor:before{content:'\0079';}
.icon-networking:before{content:'\007a';}
.icon-partner:before{content:'\0030';}
.icon-school:before{content:'\0031';}
.icon-stage:before{content:'\0032';}
.icon-toolbox:before{content:'\0033';}
.icon-variety:before{content:'\0034';}
.icon-work:before{content:'\0035';}
.icon-like:before{content:'\0036';}
.icon-location:before{content:'\0037';}
.icon-bell:before{content:'\0038';}
.icon-play:before{content:'\0039';}
.icon-volume:before{content:'\0021';}
.icon-expand:before{content:'\0022';}
.icon-cart-add:before{content:'\0023';}
.icon-cart-full:before{content:'\0024';}
.icon-cart-in:before{content:'\0025';}
.icon-creative-data:before{content:'\0026';}
.icon-effectiveness:before{content:'\0027';}
.icon-cyber:before{content:'\0028';}
.icon-design:before{content:'\0029';}
.icon-digital-craft:before{content:'\002a';}
.icon-direct:before{content:'\002b';}
.icon-entertainment:before{content:'\002c';}
.icon-film-craft:before{content:'\002d';}
.icon-film:before{content:'\002e';}
.icon-forgood:before{content:'\002f';}
.icon-glass:before{content:'\005b';}
.icon-wellness:before{content:'\005c';}
.icon-innovation:before{content:'\005d';}
.icon-integrated:before{content:'\005e';}
.icon-media:before{content:'\005f';}
.icon-mobile:before{content:'\0060';}
.icon-music:before{content:'\007b';}
.icon-outdoor:before{content:'\007c';}
.icon-pharma:before{content:'\007d';}
.icon-pr:before{content:'\007e';}
.icon-publishing:before{content:'\003f';}
.icon-product-design:before{content:'\003d';}
.icon-promo:before{content:'\003a';}
.icon-radio:before{content:'\003b';}
.icon-titanium:before{content:'\003e';}
.icon-arrow-right-long:before{content:'\003c';}
.icon-minus:before{content:'\20ac';}
.icon-plus:before{content:'\203a';}
.icon-help:before{content:'\2039';}
.icon-lock:before{content:'\2014';}
.icon-party:before{content:'\0075';}
.icon-mic:before{content:'\00a3';}
.icon-rules:before{content:'\00b7';}
.icon-download-large:before{content:'\201a';}
.icon-callendar-large:before{content:'\00b1';}
.icon-legal:before{content:'\201e';}
.icon-form:before{content:'\2030';}
.icon-apply:before{content:'\02c7';}
/* V6 edition */
.icon-link:before{content:'\00cf';}
.icon-facebook:before{content:'\00ce';}
.icon-linkedin:before{content:'\00cd';}
.icon-twitter:before{content:'\00c5';}
.icon-google:before{content:'\f8ff';}
.icon-outdoor-craft:before{content:'\00c6';}
/* END V6 edition */
/* V7 edition */
.icon-instagram:before{content:'\00c2';}
/* V7 edition */
/* V8 edition */
.icon-youtube:before{content:'\00bb';}
/* END V8 edition */
/* V9 edition */
.icon-copy:before{content:'\00af';}
/* END V9 edition */
/* V10 edition */
.icon-ecommerce:before{content:'\fb01';}
.icon-experience:before{content:'\00b0';}
.icon-influencer:before{content:'\2019';}
.icon-sustainable:before{content:'\201d';}
/* END V10 edition */
/* V11 edition */
.icon-lion:before{content:'\2013';}
.icon-thick-arrow-right:before{content:'\00ab';}
/* END V11 edition */
