h1,
.h1 {
  @include inuit-font-size($inuit-font-size-h1);
  text-transform: uppercase;
  line-height: 44px;
  color: palette('brand','secondary');

  @include mq($from: tablet) {
    @include inuit-font-size($inuit-font-size-desktop-h1);
    line-height: 60px;
    letter-spacing: 2px;
  }
}

h2,
.h2 {
  @include inuit-font-size($inuit-font-size-h2);
  text-transform: uppercase;
  line-height: 37px;

  @include mq($from: tablet) {
    @include inuit-font-size($inuit-font-size-desktop-h2);
    letter-spacing: 1.4px;
  }
}

h3,
.h3 {
  @include inuit-font-size($inuit-font-size-h3);
  text-transform: uppercase;
  line-height: 37px;

  @include mq($from: tablet) {
    @include inuit-font-size($inuit-font-size-desktop-h3);
    line-height: 37px;
    letter-spacing: 0.9px;
  }
}

h4,
.h4 {
  @include inuit-font-size($inuit-font-size-h4);
  line-height: 36px;

  @include mq($from: tablet) {
    @include inuit-font-size($inuit-font-size-desktop-h4);
    line-height: 30px;
  }
}

h5,
.h5 {
  @include inuit-font-size($inuit-font-size-h5);
  line-height: 37px;

  @include mq($from: tablet) {
    @include inuit-font-size($inuit-font-size-desktop-h5);
    line-height: 30px;
    letter-spacing: 0.4px;
  }
}

h6,
.h6 {
  @include inuit-font-size($inuit-font-size-h6);
  line-height: 37px;

  @include mq($from: tablet) {
    @include inuit-font-size($inuit-font-size-desktop-h6);
    line-height: 37px;
  }
}


h1,
h2,
h3 {
  @include font-primary();
  margin-bottom: 0;
}

h4 {
  @include font-secondary();
  margin-bottom: 0;
}

h5 {
  @include font-tertiary();
  margin-bottom: 0;
}
