/**
 * Mixin
 * @type Fonts
 */


 // Futura PT Extra Bold Oblique
 @mixin font-primary() {
   font-family: 'futura-pt', sans-serif;
  font-style: italic;
  font-weight: 800;
 }


// Futura PT Heavy
@mixin font-secondary() {
  font-family: 'futura-pt', sans-serif;
  font-style: normal;
  font-weight: 700;
}


// Adelle San Regular
@mixin font-tertiary() {
  font-family: 'adelle-sans', sans-serif;
  font-style: normal;
  font-weight: 400;
}


html {
  font-family: serif;
  font-size: $inuit-global-font-size;
  overflow-y: auto;
  @include font-primary();
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: palette('default','white');
  color: palette('brand','primary');
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

/// @group paragraph
p {
  margin-bottom: $inuit-global-spacing-unit-small;
  @include inuit-font-size(18px);
  line-height: 1.5;
}

/// @group links
a {
  color: palette('brand','primary');
  text-decoration: none;
  cursor: pointer;
  transition: $global-transition;
}

// Allows all text to wrap if the input is too long.
* {
  word-break: break-word;
}

ul, ol {
  @include inuit-font-size($inuit-global-font-size-small);
}

ul, ol, p {
  @include font-weight(regular);
}

small {
  @include inuit-font-size($inuit-global-font-size-small);
}

.p-small {
  @include inuit-font-size($inuit-global-font-size-small);
}

.p-large {
  @include inuit-font-size($inuit-global-font-size-large);
}

.p-bold {
  @include font-weight(semi-bold);
}

strong {
  @include font-weight(semi-bold);
}
