// base animation
// to be extended by
// individual animations
%animate-reset {
  transform-style: preserve-3d;
  
  animation: {
    duration: .7s;
    direction: normal;
    iteration-count: 1;
    delay: 0;
    play-state: running;
  }
}

@keyframes slideInUp {
  0% {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

.a-slide-in-up {
  @extend %animate-reset;
  animation-fill-mode:forwards;
  animation-name: slideInUp;
}
